.container {
  margin-top: 3em;
  float: center;
}

.header {
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.gif {
  display: block;
  opacity: 1;
  margin-top: 1em;
  transition: .5s ease;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
.gif:hover {
  opacity:0.7;
}
.button {
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 0.5em 0.5em;
  font-weight: 200;
  color: white;
  background-color: #EC9192;
  border-radius: 2em;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}
.button:hover {
      background-color: #BAD29F;
      color: black;
    }
.download{
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  color: white;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  
}
