.container {
  margin-top: 2em;
  float: center;
}

.header {
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.gif {
  display: block;
  width: 300px;
  height: 300px;
}

.button {
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 0.5em 0.5em;
  font-weight: 200;
  color: white;
  background-color: #EC9192;
  border-radius: 2em;
  border-color: black;
  cursor: pointer;
}
.button:hover {
      background-color: #BAD29F;
      color: black;
    }
