@import "css/variables.module.scss";

.container {
  float:middle;
  margin: 0px auto;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.container h1 {
  text-align: center;
  color: white;
  font-weight: normal;
}
.container h4 {
  text-align: center;
  color: white;
  font-weight: normal;
}
